[*.cs]

# SecurityIntelliSenseCS: MS Security rules violation
dotnet_diagnostic.SecurityIntelliSenseCS.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
