<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VisualUNITY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="VisualUNITY.Properties.Settings.ProjectsConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Projects.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <VisualUNITY.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="signedIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value>tr-TR</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="nameSurname" serializeAs="String">
        <value />
      </setting>
      <setting name="diameterCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="diameterSetCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="diameterDifferenceCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="minusToleranceCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="plusToleranceCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="display3Check" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ncCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="evenCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="parpCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pariCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="StopBit" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Adress" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="deviceAmount" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="operatorAmount" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="userMail" serializeAs="String">
        <value />
      </setting>
      <setting name="diameter2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="plusTolerance2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="minusTolerance2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="xAxis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="yAxis" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="device1Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device2Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device3Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device4Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device5Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device6Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device7Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device8Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device9Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device10Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device11Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device12Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device13Slave" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="device14Slave" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="deviceParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="deviceStopBit" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="deviceBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="phoneNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="userDbID" serializeAs="String">
        <value />
      </setting>
      <setting name="writing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="userFirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="projectDiameter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="projectWeb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="projectTension" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="projectTransmitter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tensionBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="tensionSlave" serializeAs="String">
        <value>247</value>
      </setting>
      <setting name="tensionKpClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionSetSettingClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionStartAddressClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionDacyonClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionLoadcellClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionTensionSetClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionManuelAutoClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionStartTimeClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionStopTimeClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionProxSelClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionStartTime1Clickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionStopTime1Clickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionStopVoltageClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionMinVoltageClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionStartVoltageClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionLanguageClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionModbusAddressClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionBaudRateClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionNetWeightClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionZeroMultiplerClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionMedianFilterClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionAverageFilterClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionFullScaleClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionCalibrationClickable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tensionGraphRange" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="device1Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device2Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device3Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device4Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device5Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device6Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device7Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device8Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device9Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device10Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device11Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device12Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device13Port" serializeAs="String">
        <value />
      </setting>
      <setting name="device14Port" serializeAs="String">
        <value />
      </setting>
    </VisualUNITY.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WriteableBitmapEx.Wpf" publicKeyToken="50375ca6144f1c69" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.7.0" newVersion="1.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>